.sales-header {
  background-color: #EBEBEB;
  /* display: flex; */
  /* justify-content: center; */
  /* align-self: center; */
  padding: 0.5rem 0rem;
  /* margin: 1rem 0; */
}

.items-btn {
  background-color: #2980B9;
  margin: 10px 4px;
  padding: 7px 1rem;
  color: #fcfbfb;
  font-weight: 500;
}

.items-btn:hover {
  cursor: pointer;
}

.items-table-header {
  background-color: #2980B9;
  color: #fcfbfb;
}

.items-table-input {
  width: 5rem;
  border-radius: 5px;
}

.items-side-bar {
  background-color: #EBEBEB;
  /* flex: 1; */
  width: 27%;
  height: auto;
  /* margin: 10px 5px; */
}

.new-customer-btn {
  background-color: #2980B9;
  text-align: center;
  color: #fcfbfb;
  font-weight: 700;
  margin: 1rem 2rem;
  padding: 7px 0rem;
}

.new-customer-btn:hover {
  cursor: pointer;
}

.separator {
  border-bottom: 2px solid #000;
  margin: 1.5rem 1.5rem;
}

.modal-header {
  background-color: #2980B9;
  border-radius: 0px;
  color: #fcfbfb;
  font-weight: 700;
  font-size: 20px;
}

.modal-body-text {
  text-align: center;
  color: #4B4B4B;
  font-size: 18px;
  font-weight: 500;
}

.text {
  color: #4B4B4B;
}