.primary-btn {
  background-color: #2980B9;
  margin: 10px 4px;
  padding: 7px 1rem;
  color: #fcfbfb;
  font-weight: 500;
}

.items-btn {
  background-color: #2980B9;
  margin: 10px 4px;
  padding: 7px 1rem;
  color: #fcfbfb;
  font-weight: 500;
  border: 0px;
  border-radius: 0px;
}

.items-btn:hover {
  background-color: #2980B9dd;
}