
.custom-select {
  width: 50%;
  border: 1px solid #8d8d8d;
  border-radius: 3px;
  position: absolute;
  padding: 0 0.5rem;
  top: 0;
  left: 40%;
  height: 2rem;
  font-size: large;
  font-weight: 400;
}
