.my-auto {
    margin-top:auto;
    margin-bottom: auto;
}

.main-container {
    background-color: #F1F3F5;
}
.login-form {
    background-color: white;
    border-radius: 5px;
    border: solid 1px #E1E4E8;
}

.form {
  padding: 4rem 3.5rem;
  margin: 3rem 2.5rem;
}
.login-btn {
  background-color: #2980B9;
  color: #fcfbfb;
  font-weight: 500;
}

.login-btn:hover {
  color: #fcfbfb;
  background-color: #2980B9;
}

.input {
  border: solid 2px #E1E4E8;
}

.welcome-heading {
  color: #4B4B4B
}