:root {
  --primary-clr: #2980B9;
  --secondary-clr: #EBEBEB;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-wrapper {
  height: 100vh;
}

.btn-primary {
  background-color: var(--primary-clr) !important;
}

.btn {
  border: 0px !important;
}

.band-header {
  background-color: #EBEBEB;
  padding: 0.5rem 0rem;
}

th {
  background-color: #2980b9;
  color: #fff;
  padding: 1rem;
}

.pagination {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.pagination__left > button {
  background-color: var(--primary-clr);
  color: white;
  border: 0px;
  border-radius: 0.2rem;
}

.pagination__right > span > input {
  border: 1px solid #cbcaca;
  border-radius: 0.2rem;
}

.pagination__right > span > select {
  border: 1px solid #cbcaca;
  border-radius: 0.2rem;
}